DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=mbstu_cp_ranking
SECRET_KEY=generate_a_secure_random_key_here

# SMTP Configuration
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
